@charset "utf-8";
/* CSS Document */
body{
	background-color:#ECF9F1 ;
}
/* banner */
.banner{
  height: 190px;
	background-size: 100% 100%;
	background:url('../images/旅游开放日_banner.png') center no-repeat;
}
.nav{
	height: 38px;
	background-color: #4CACF8;
}
.nav1 .a2{
	color: #FFFFFF;
	font-size: 14px;
	line-height: 38px;
}
/* content1 */
.content1{
	height: 83px;
	border-bottom: 2px solid #DFDEDE;
	background-color: #F6F6F6;
}
.content1 .h21{
	padding-top: 15px;
}
.content1 h2{
	color: #333333;
	font-size: 14px;
	line-height: 30px;
	padding-left: 25px;
}
/* content2 */
.content2{
	height: 586px;
  background-color: #ffffff;
}
.content2 a{
	margin-top: 18px;
	margin-right: 5px;
	display: inline-block;
}
.content2 .a1{
width: 203px;
height: 31px;
color: #B9BFC5;
font-size: 16px;
line-height: 31px;
text-align: center;
margin-left: 14px;
border: 1px solid #B9BFC5;
}
.content2 span{
	color: #FF0000;
}
.content2 .a2{
	width: 238px;
	height: 31px;
	color: #37A5FA;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
	border: 1px solid #FF9C71;
}
.content2 .a3{
	width: 238px;
	height: 31px;
	color: #37A5FA;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
	border: 1px solid #38A5FB;
}
.content2 .a4{
	width: 230px;
	height: 31px;
	color: #37A5FA;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
	margin-right: 0;
	border: 1px solid #38A5FB;
}
ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.box {
		width: 930px;
		margin: 16px auto;
	}
	.tabs {
		height: 34px;
	}
	.tabs li {
		float: left;
		width: 120px;
		color: #333333;
		font-size: 14px;
		text-align: center;
		height: 34px;
		line-height: 34px;
		border: 1px solid #DBDBDB;
		margin-right: -1px;
		background: #F8F6F4;
		border-radius: 3px 3px 0 0;
		cursor: pointer;
	}
	.tabs .active {
		background: #fff;
		color: #4BABF7;
		font-size: 14px;
		border-bottom: none;
		height: 34px;
	}
	.contents {
		border: 1px solid #DBDBDB;
		margin-top: -1px;
		padding: 20px 0;
	}
	.contents div {
		display: none;
	}
	.contents .select select{
		height: 23px;
		width: 120px;
	}
	.contents .show p{
		color: #656565;
    font-size: 14px;
    line-height: 44px;
	}
	.contents .show .ps{
		color: #656565;
    font-size: 14px;
    padding-left: 88px;
	}
	.contents .select{
		padding-left: 88px;
	}
	.contents .sf{
		padding-left: 88px;
	}
	.contents .sf i{
		color: #FF0000;
		font-size: 12px;
		padding-left: 12px;
		font-style: normal;
	}
	.contents .sf span{
		width: 148px;
		height: 21px;
		font-size: 12px;
		display: inline-block;
		line-height: 23px;
		padding-left: 33px;
		margin-left: 14px;
		border: 1px dashed #FF0000;
		background:url('../images/旅游开放日_表单_个人预约_gth.png') 13px center no-repeat ;
	}
	.contents .x{
		padding-left: 115px;
	}
	.contents .x span{
		width: 148px;
		height: 21px;
		font-size: 12px;
		display: inline-block;
		line-height: 23px;
		padding-left: 33px;
		margin-left: 14px;
		border: 1px dashed #FF0000;
		background:url('../images/旅游开放日_表单_个人预约_gth.png') 13px center no-repeat ;
	}
	.contents .s{
		padding-left: 102px;
	}
	.contents .s span{
		width: 148px;
		height: 21px;
		font-size: 12px;
		display: inline-block;
		line-height: 23px;
		padding-left: 33px;
		margin-left: 14px;
		border: 1px dashed #FF0000;
		background:url('../images/旅游开放日_表单_个人预约_gth.png') 13px center no-repeat ;
	}
	.contents .yzm{
		width: 96px;
		height: 26px;
		color: #ffffff;
		font-size: 14px;
		font-weight: bold;
		margin-left: 13px;
		background-color: #06B0FF;
		border: 1px solid #C1EBFF;
		border-radius: 5px;
		cursor: pointer;
	}
	.contents .tj{
		width: 180px;
		height: 48px;
		color: #ffffff;
		font-size: 18px;
		font-weight: bold;
		margin-top: 20px;
		margin-left: 106px;
		margin-bottom: 17px;
		background-color: #FA9709;
		border: 1px solid #EE7F24;
		border-radius: 3px;
		cursor: pointer;
	}
	.contents .show .ps span{
		color: #000000;
	}
	.contents .show {
		display: inline-block;
	}
	.contents .show1 p{
    padding-left: 77px;
	}
	.contents .show1  p span{
		color: #000000;
		font-size: 14px;
	}
	.contents .show1  .yq{
		color: #4BABF7;
		font-size: 14px;
		padding-bottom: 300px;
	}
	/* footer */
.footer{
	background-color: #FFFFFF;
}
.footer p{
	color: #656565;
	font-size: 12px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 19px;
}